.screen500 {
    position: absolute;

    .imgBg {
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: absolute;
    }

    .button5001 {
        margin-top: 480px;
        margin-left: 850px;
        position: absolute;
        z-index: 2;
        width: 170px;
        height: 60px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border: none;
        background-color: rgb(40, 149, 239);
    }

    .button5002 {
        display: none;
        color: white;
        border: none;
        background-color: rgb(247, 92, 58);
        font-size: 20px;
        font-weight: bold;
        margin-top: 550px;
        margin-left: 820px;
        position: absolute;
        z-index: 3;
        width: 170px;
        height: 60px;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .screen500 {
        position: absolute;

        .imgBg {
            width: 100vw;
            height: 100vh;
            z-index: 1;
            position: absolute;
        }

        .button5001 {
            margin-top: 550px;
            margin-left: 50px;
            position: absolute;
            z-index: 2;
            width: 140px;
            height: 60px;
            border-radius: 30px;
            font-size: 17px;
            font-weight: bold;
            color: white;
            border: none;
            background-color: rgb(58, 171, 247);
        }

        .button5002 {
            color: white;
            border: none;
            background-color: rgb(247, 92, 58);
            font-size: 17px;
            font-weight: bold;
            margin-top: 550px;
            margin-left: 200px;
            position: absolute;
            z-index: 3;
            width: 140px;
            height: 60px;
            border-radius: 30px;
        }
    }
}