.formBMI {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    height: 300px;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    .textHeight {
        font-weight: bold;
        font-size: 20px;
    }

    .inputHeight {}

    .textWeight {
        font-weight: bold;
        font-size: 20px;
    }

    .inputWeight {}

    .btnBMI {
        margin-top: 20px;
    }
}