.bgBmi {
    padding-bottom: 85px;

    .formBMI {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 10px;
        height: 300px;
        padding-top: 50px;
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        align-items: center;


        .textHeight {
            font-weight: bold;
            font-size: 20px;
        }

        .inputHeight {}

        .textWeight {
            font-weight: bold;
            font-size: 20px;
        }

        .inputWeight {}

        .btnBMI {
            margin-top: 20px;
            border-radius: 10px;
            width: 100px;
            height: 40px;
            font-size: 17px;
            font-weight: bold;
            background: #a50000;
            color: white;


        }
    }
}