.overViewPT {
    text-align: justify;

    h2 {
        font-size: 16px;
        font-weight: bold;
    }


    p ::marker {
        color: black;
        font-size: 1.5em;
    }

    .infoDetail {
        .detailPTTitle {


            .detailPTContent {

                ::marker {
                    color: black;
                    font-size: 1.5em;
                }

            }
        }
    }
}