.StaffDetailContainer {
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 1.28%, #717c7c 100%);
    min-height: 100vh;

    .backToHome {
        width: 100%;
        color: white;
        background: #a50000;
        height: 65px;

        .titleStaffPage {

            color: black;
        }

        .backtoHome {
            padding-top: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            // width: fit-content;
            .textBackToHome {
                font-family: "roboto";
                font-size: 18px;
                font-weight: 400;
                margin-left: 10px;
                color: white;
            }
        }
    }

    .StaffProfile {
        border-radius: 20px;
        width: 60%;
        height: 450px;
        margin-top: 80px;
        margin-left: 300px;
        border: solid black 1px;
        background-color: white;

        .StaffDetailContent {

            .contentInfo {

                .avatarCusDetail {
                    .imgStaff {
                        margin-left: 80px;
                        margin-top: 80px;
                        height: 230px;
                        width: 190px;
                        border: 1px solid #f1f1f1;
                        border-radius: 50%;
                        box-shadow: 1px 1px 8px 1px #888;

                    }
                }

                .infoDetailStaff {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;

                    margin-top: 50px;
                    padding-left: 150px;

                    .nameStaffAndPosition {
                        border-bottom: solid rgb(170, 168, 168) 1px;
                        margin-left: 150px;

                        color: #000;
                        font-weight: 600;
                        font-size: 30px;
                        font-family: 'Times New Roman', Times, serif;
                    }

                    .descriptionCusDetail {
                        margin-top: 60px;
                        margin-left: 150px;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        min-height: 130px;
                        font-size: 25px;
                        font-family: 'Times New Roman', Times, serif
                    }

                    .likeAndChat {
                        gap: 15px;
                        border-top: solid rgb(170, 168, 168) 1px;
                        margin-top: 230px;
                        width: 530px;
                        margin-left: 80px;
                        padding-top: 30px;

                        .btn-sua {
                            padding-bottom: 15px;
                            padding-left: 23px;
                            padding-right: 23px;
                            padding-top: 15px;
                            margin-right: 10px;

                            background: #a50000;
                            color: #fff;
                            border-radius: 6px;
                            border: 1px solid #ffff;
                            font-weight: bold;
                            font-size: 20px;
                            border-radius: 30px;

                            &:hover {
                                background: #df0c0c;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 46.1875em) {
    .StaffDetailContainer {
        overflow: hidden;
        background: linear-gradient(180deg, #ffffff 1.28%, #717c7c 100%);
        min-height: 100vh;

        .backToHome {
            width: 100%;
            color: white;
            background: #a50000;
            height: 65px;

            .titleStaffPage {

                color: black;
            }

            .backtoHome {
                padding-top: 15px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                // width: fit-content;
                .textBackToHome {
                    font-family: "roboto";
                    font-size: 18px;
                    font-weight: 400;
                    margin-left: 10px;
                    color: white;
                }
            }
        }

        .StaffProfile {
            border-radius: 20px;
            width: 95%;
            height: 450px;
            margin-top: 80px;
            margin-left: 10px;
            border: solid black 1px;
            background-color: white;

            .StaffDetailContent {

                .contentInfo {

                    .avatarCusDetail {
                        .imgStaff {
                            margin-left: 120px;
                            margin-top: 10px;
                            height: 100px;
                            width: 90px;
                            border: 1px solid #f1f1f1;
                            border-radius: 50%;
                            box-shadow: 1px 1px 8px 1px #888;

                        }
                    }

                    .infoDetailStaff {
                        padding-top: 70px;
                        padding-right: 400px !important;
                        margin-right: 200px !important;
                        position: absolute;
                        padding-left: 10px !important;



                        .nameStaffAndPosition {
                            width: 80%;
                            border-bottom: solid rgb(170, 168, 168) 1px;
                            // padding-right: 300px !important;
                            margin-left: 100px !important;
                            position: absolute;
                            color: #000;
                            font-weight: 600;
                            font-size: 15px;
                            font-family: 'Times New Roman', Times, serif;
                        }

                        .descriptionCusDetail {
                            margin-top: 60px;
                            margin-left: 15px;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            min-height: 130px;
                            font-size: 15px;
                            font-family: 'Times New Roman', Times, serif
                        }

                        .likeAndChat {
                            gap: 15px;
                            // border-top: solid rgb(170, 168, 168) 1px;
                            margin-top: 230px;
                            width: 530px;
                            margin-left: 80px;
                            padding-top: 30px;

                            .btn-sua {
                                padding-bottom: 15px;
                                padding-left: 23px;
                                padding-right: 23px;
                                padding-top: 15px;
                                margin-right: 10px;

                                background: #a50000;
                                color: #fff;
                                border-radius: 6px;
                                border: 1px solid #ffff;
                                font-weight: bold;
                                font-size: 20px;
                                border-radius: 30px;

                                &:hover {
                                    background: #df0c0c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}