body {}

.StaffDetailContainer {



    .StaffProfile {
        border-radius: 20px;
        width: 60%;
        height: 450px;
        margin-top: 150px;
        margin-left: 300px;
        border: solid black 1px;
        background-color: white;

        .StaffDetailContent {

            .contentInfo {

                .avatarCusDetail {
                    .imgStaff {
                        margin-left: 80px;
                        margin-top: 80px;
                        height: 230px;
                        width: 190px;
                        border: 1px solid #f1f1f1;
                        border-radius: 50%;
                        box-shadow: 1px 1px 8px 1px #888;

                    }
                }

                .infoDetailStaff {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    padding-left: 50px;
                    margin-top: 50px;
                    padding-left: 150px;

                    .nameStaffAndPosition {
                        border-bottom: solid rgb(170, 168, 168) 1px;
                        margin-left: 150px;

                        color: #000;
                        font-weight: 600;
                        font-size: 30px;
                        font-family: 'Times New Roman', Times, serif;
                    }

                    .descriptionCusDetail {
                        margin-top: 60px;
                        margin-left: 150px;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        min-height: 130px;
                        font-size: 25px;
                        font-family: 'Times New Roman', Times, serif
                    }

                    .likeAndChat {
                        gap: 15px;
                        border-top: solid rgb(170, 168, 168) 1px;
                        margin-top: 230px;
                        width: 530px;
                        margin-left: 80px;
                        padding-top: 30px;

                        .btn-sua {
                            padding-bottom: 15px;
                            padding-left: 23px;
                            padding-right: 23px;
                            padding-top: 15px;
                            margin-right: 10px;

                            background: #a50000;
                            color: #fff;
                            border-radius: 6px;
                            border: 1px solid #ffff;
                            font-weight: bold;
                            font-size: 20px;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}