.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.bgAdmin {
  .cursor {
    pointer-events: none;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;

      circle {
        fill: #f7f8fa;
      }
    }
  }
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  margin: 0 auto;
  height: 68px;
  width: 80px;
  // margin: 10px;
  // background: rgba(255, 255, 255, 0.3);
  background: url("../../assets/images/logo/GHGym.png");
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: #fff;
}

.sitelayout .sitelayoutbackground {
  background: #fff;
}
.infoUser {
  float: right;
  margin-right: 20px;
  // display: flex;
  // gap: 8px;
}
.notificationAdmin {
  cursor: pointer;
}
.ant-badge {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: fixed;
  display: inline-block;
  line-height: 1;
  right: 299px;
  top: 25px;
  z-index: 99999999999999999;
}
