.HomepageAdminBg {
  height: 100%;
  overflow: auto;

  .titleHomeAdmin {
    font-size: 24px;
    font-weight: 700px;
    color: #000;
  }
  .overviewCalc {
    display: flex;
    padding-left: 3px !important;
    gap: 50px;
    padding: 8px 0;
    min-height: 100px;
    max-height: 100%; // margin: 0 auto;
    .gymCenterTotal {
      min-height: 100px;
      max-height: 100%;
      border-radius: 6px;
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      // flex-direction: column;
      text-align: center;
      background-color: transparent;
      box-shadow: 1px 1px 8px 1px #888;
      &:hover {
        box-shadow: 1px 1px 8px 1px #00bfff;
        cursor: pointer;
      }
      .bgCenterTotal {
        background: url("../../../../assets/images/banner/289048829_1167860817104208_3424094009605653790_n.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;

        min-height: 100px;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .serviceOfGHGym {
      min-height: 100px;
      max-height: 100%;
      border-radius: 6px;
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      // flex-direction: column;
      text-align: center;
      background-color: transparent;
      box-shadow: 1px 1px 8px 1px #888;
      &:hover {
        box-shadow: 1px 1px 8px 1px #00bfff;
        cursor: pointer;
      }
      .bgServiceTotal {
        background: url("../../../../assets/images/banner/logo13.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;

        min-height: 100px;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .accountCusTotal {
      min-height: 100px;
      max-height: 100%;
      border-radius: 6px;
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      // flex-direction: column;
      text-align: center;
      background-color: transparent;
      box-shadow: 1px 1px 8px 1px #888;
      &:hover {
        box-shadow: 1px 1px 8px 1px #00bfff;
        cursor: pointer;
      }
      .bgCustomerTotal {
        background: url("../../../../assets/images/banner/logo12.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;

        min-height: 100px;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .serviceHours {
      min-height: 100px;
      max-height: 100%;
      border-radius: 6px;
      padding: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      // flex-direction: column;
      text-align: center;
      background-color: transparent;
      box-shadow: 1px 1px 8px 1px #888;
      &:hover {
        box-shadow: 1px 1px 8px 1px #00bfff;
        cursor: pointer;
      }
      .bgStaffTotal {
        background: url("../../../../assets/images/banner/logo11.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;

        min-height: 100px;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  .chartReservation {
    padding-top: 25px;
    .chartReservationContent {
      display: flex;
      gap: 10px;
      .leftChart {
      }
      .rightChart {
        height: 100%;
        .rightChartContent {
          border-left: 1px solid #edf;
          // padding-left: 10px;
          // display: flex;
          // gap: 10px;
          // box-shadow: 1px 1px 8px 1px #888;
          // padding-top: 20px;
          // margin: 0 auto;
          display: flex;
          // flex-direction: column;
          gap: 30px;
        }
      }
    }
  }
  .unresolved {
    padding-top: 50px;
    padding-left: 3px;
    padding-bottom: 50px;
    display: flex;
    gap: 50px;
    height: 500px;
    .unresolvedOnTop {
      padding-left: 10px;
      height: 100%;
      border-radius: 6px;
      text-align: start;
      background-color: transparent;
      box-shadow: 1px 1px 8px 1px #888;
      .unresolvedOnTopHeader {
        display: flex;
        gap: 70%;

        .unresolvedOnTopTitle {
          text-align: start;
          justify-content: flex-start;
        }
        .viewDetailUnresolved {
          text-align: start;
          // float: right;
          justify-content: flex-end;
        }
      }
    }
    .ageCusPopular {
      padding-left: 10px;
      height: 100%;
      border-radius: 6px;
      text-align: start;
      background-color: transparent;
      box-shadow: 1px 1px 8px 1px #888;

      .unresolvedOnTopHeader {
        display: flex;
        gap: 70%;

        .unresolvedOnTopTitle {
          text-align: start;
          justify-content: flex-start;
        }
        .viewDetailUnresolved {
          text-align: start;
          // float: right;
          justify-content: flex-end;
        }
      }
    }
  }
}
