.incomeTurnContainer {
  .filterStaff {
    margin-right: 17px;
    min-width: 106px;
    max-width: 210px;
    height: 32px;
    background: #ebf0ff;
    border-radius: 3px;
    .filterSelect {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      background: #ebf0ff;
      border-radius: 3px;
      margin-left: auto;
      margin-bottom: 8px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      &.active {
        /* Black blue */
        background: #223263;

        .selectTitle {
          color: #ffffff;
        }
        .services {
          color: #fff;
        }
        :global {
          .anticon.anticon-down {
            color: #fff;
          }
        }
      }
      .selectTitle {
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        /* identical to box height, or 183% */
        /* Black blue */
        color: #223263;
      }
      .services {
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        /* identical to box height, or 183% */
        /* Black blue */
        color: #223263;
        div {
          padding: 2px 5px;
          /* light blue */
          background: #ebf0ff;
          border-radius: 27px;
          color: #223263;
          font-weight: 500;
          font-size: 12px;
          line-height: 22px;
          /* identical to box height, or 183% */

          /* Black blue */

          color: #223263;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }
      }
    }
  }
  .filterDate {
    margin-right: 17px;
    min-width: 106px;
    height: 32px;
    background: #ebf0ff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    .selectTitle {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 22px;
      /* identical to box height, or 183% */
      /* Black blue */
      color: #223263;
      padding-left: 10px;
    }
    .selectedText {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      /* identical to box height, or 183% */
      text-align: right;
      /* Black blue */
      color: #223263;
    }
  }
  .dateStart,
  .dateEnd {
    margin-right: 17px;
  }
  .reset,
  .submit {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Neutral/1 */
    color: #ffffff;
    padding: 5px 10px;
    background: #223263;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  .submit {
    margin-left: 10px;
  }
}

.option {
  .searchOption {
    :global {
      .ant-input {
        border-right: none;
        box-shadow: none;
        outline: none;
        padding: 8px 10px;
      }
      .ant-btn {
        border-left: none;
        height: 40px;
        width: 40px;
      }
      .ant-input:hover,
      .ant-input:focus {
        border-color: #fb7181;
        border-right: 1px solid #fb7181;
      }
      .ant-btn:hover,
      .ant-btn:focus,
      .ant-btn:active {
        color: #9098b1;
        border-color: #fb7181;
        background: #fff;
      }
    }
  }
  .category {
    width: 100%;
    .main {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      /* grey blue */
      color: #9098b1;
      margin-top: 15px;
    }
    .sub {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      margin-top: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      color: rgba(0, 0, 0, 0.65);
      transition: background 0.3s ease;
      :global {
        .ant-checkbox-checked .ant-checkbox-inner {
          background-color: #53d1b6;
          border-color: #53d1b6;
        }
        .ant-checkbox-wrapper:hover .ant-checkbox-inner,
        .ant-checkbox:hover .ant-checkbox-inner,
        .ant-checkbox-input:focus + .ant-checkbox-inner {
          border-color: #53d1b6;
        }
      }
      .display {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      &.active {
        background: #ebf0ff;
      }
    }
    :global {
      .anticon.anticon-down {
        font-weight: 500;
        font-size: 12px;
        /* identical to box height, or 183% */
        text-align: right;
        /* Black blue */
        color: #223263;
      }
      .ant-checkbox-group {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum", "tnum";
        display: inline-block;
      }
      .ant-checkbox-wrapper {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum", "tnum";
        display: inline-flex;
        align-items: baseline;
        line-height: unset;
        cursor: pointer;
        width: 100%;
        span ~ span {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.selectOptionStaff {
  :global {
    .ant-popover-inner {
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%), 0 0 8px rgba(0, 0, 0, 0.15) \9;
      width: 257px !important;
      height: 379px !important;
      border-radius: 5px !important;
      overflow-y: auto;
    }
  }
}
:global {
  .ant-select-dropdown,
  .ant-select-dropdown-placement-bottomLeft,
  .ant-select-dropdown-hidden {
    min-width: 130px !important;
  }
  // .ant-picker-content {
  //   thead {
  //     tr {
  //       th:first-child {
  //         display: none !important;
  //       }
  //     }
  //   }
  // }
  // .ant-picker-week-panel-row {
  //   td:first-child {
  //     display: none !important;
  //   }
  // }
}
