.StaffProfilePage {

    height: auto;
    max-width: 100vw;

    // overflow: auto;
    .containerListPT {

        height: auto;
        max-width: 100vw;
        // margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-family: "roboto";
        font-weight: bold;
        font-size: 50px;
        overflow-x: hidden;


        //  background: #7a8484;


        .backToHome {
            width: 100%;
            color: white;
            background: #a50000;
            height: 65px;

            .titleStaffPage {

                color: black;
            }

            .backtoHome {
                padding-top: 15px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                // width: fit-content;
                .textBackToHome {
                    font-family: "roboto";
                    font-size: 18px;
                    font-weight: 400;
                    margin-left: 10px;
                    color: white;
                }
            }
        }

        .titlePage {
            .PTinfo {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                //margin-left: 200px;
                padding-bottom: 30px;
                //  background: linear-gradient(360deg, #ffffff 80.28%, #717c7c 100%);
                justify-content: center;

                .PtName {
                    font-size: 25px;
                    margin-left: 20px;
                    margin-top: 50px;

                    .btnPT {
                        display: flex;
                        gap: 20px;
                        padding-left: 30px;
                        padding-top: 30px;

                        .btn-book {
                            padding-bottom: 15px;
                            padding-left: 23px;
                            padding-right: 23px;
                            padding-top: 15px;
                            margin-right: 10px;

                            background: #a50000;
                            color: #fff;
                            border-radius: 6px;
                            border: 1px solid #ffff;
                            font-weight: bold;
                            font-size: 20px;
                            border-radius: 30px;

                            &:hover {
                                background: #df0c0c;
                            }
                        }

                        .btnInfo {
                            background-color: yellow;
                            border-radius: 20px;
                            width: 160px;
                            font-weight: bold;
                            box-sizing: border-box;
                            box-shadow: 1px 1px 8px 1px grey;
                            color: black !important;
                            height: 80px;
                        }

                        .btnSalary {
                            background-color: yellow;
                            border-radius: 20px;
                            width: 160px;
                            font-weight: bold;
                            box-sizing: border-box;
                            box-shadow: 1px 1px 8px 1px grey;
                            height: 80px;
                        }
                    }
                }

                .imgPT {
                    gap: 20px;
                    height: 230px;
                    width: 190px;
                    border: 1px solid #f1f1f1;
                    border-radius: 50%;
                    box-shadow: 1px 1px 8px 1px #888;
                }
            }
        }
    }
}

@media only screen and (max-width: 46.1875em) {
    .StaffProfilePage {

        max-height: 100vh;
        max-width: 100vw;

        // overflow: auto;
        .containerListPT {
            max-width: 100vw;
            // margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            font-family: "roboto";
            font-weight: bold;
            font-size: 50px;
            overflow-x: hidden;


            //  background: #7a8484;


            .backToHome {
                width: 100%;
                color: white;
                background: #a50000;
                height: 65px;

                .titleStaffPage {

                    color: black;
                }

                .backtoHome {
                    padding-top: 15px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    // width: fit-content;
                    .textBackToHome {
                        font-family: "roboto";
                        font-size: 18px;
                        font-weight: 400;
                        margin-left: 10px;
                        color: white;
                    }
                }
            }

            .title {
                font-size: 30px;
            }

            .titlePage {
                .PTinfo {
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    margin-left: 200px;

                    padding-bottom: 30px;
                    //  background: linear-gradient(360deg, #ffffff 80.28%, #717c7c 100%);
                    justify-content: center;

                    .PtName {
                        font-size: 20px;
                        margin-right: 400px !important;

                        .welcomCus {
                            position: absolute;

                        }

                        .btnPT {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 1px;
                            //padding-left: 30px;
                            padding-top: 30px;
                            margin-right: 20px !important;

                            .btn-book {
                                padding-bottom: 15px;
                                padding-left: 23px;
                                padding-right: 23px;
                                padding-top: 15px;
                                margin-right: 10px;

                                background: #a50000;
                                color: #fff;
                                border-radius: 6px;
                                border: 1px solid #ffff;
                                font-weight: bold;
                                font-size: 14px;
                                border-radius: 30px;

                                &:hover {
                                    background: #df0c0c;
                                }
                            }

                            .btnInfo {
                                background-color: yellow;
                                border-radius: 20px;
                                width: 160px;
                                font-weight: bold;
                                box-sizing: border-box;
                                box-shadow: 1px 1px 8px 1px grey;
                                color: black !important;
                                height: 80px;
                            }

                            .btnSalary {
                                background-color: yellow;
                                border-radius: 20px;
                                width: 160px;
                                font-weight: bold;
                                box-sizing: border-box;
                                box-shadow: 1px 1px 8px 1px grey;
                                height: 80px;
                            }
                        }
                    }

                    .imgPT {

                        gap: 10px;
                        height: 180px;
                        margin-left: 110px;
                        width: 140px;
                        border: 1px solid #f1f1f1;
                        border-radius: 50%;
                        box-shadow: 1px 1px 8px 1px #888;
                    }
                }
            }
        }
    }
}