.listServiceContent {


  overflow: hidden;
  min-height: 308px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  // align-items: flex-start;
  padding-top: 30px;
  gap: 15px;
  position: relative;
  width: 100vw;
  // height: calc(100% - 20px);
  background-color: white;
  border-radius: 5px;
  padding-bottom: 30px;

  .scroll {
    width: 100%;
    overflow: auto;
  }



  .service {
    box-sizing: border-box;
    min-width: 70vw;
    margin: 0 auto;
    max-width: 100%;
    height: 119px;
    border-radius: 30px;
    background: linear-gradient(180deg, #ffffff 60.28%, #a8cece 100%);
    /* light blue */
    border: 1px solid #131314;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;

    flex-direction: column;
    padding: 42px;




    .breadcumService {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      justify-content: space-between;
      width: 100%;
      height: 10px;

      padding-bottom: 20px;

      .categoryService {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        color: #223263;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        /* identical to box height */

        /* Black blue */

        color: #223263;
        width: 537px;
        height: 17px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .infoProduct {
        width: 20px;
        height: 20px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    .lineService {
      width: 100%;
      height: 0px;
      /* light blue */


    }

    .serviceInfo {
      display: flex;
      align-items: center;
      padding: 0px;
      gap: 10px;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      padding-top: 20px;

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .textNameService {
          min-width: 97px;
          max-width: auto;
          height: 17px;
          margin-left: 20px;
          font-family: 'Arial', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 17px;

          margin-top: 25px;
          margin-left: 50px;

          // text-decoration-color: white;

          // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
          /* identical to box height */

          /* Black blue */

          color: black;

          /* Inside auto layout */

          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }

      .detailInfo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 2px;
        justify-content: flex-end;
        width: 100%;
        height: 17px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 17px;

        /* identical to box height */

        /* #000000 */

        color: black;

        .lineDetailInfo {
          width: 1px;
          height: 17px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          /* light blue */

          color: #ebf0ff;

          /* Inside auto layout */

          flex: none;
          // order: 1;
          flex-grow: 0;
        }
      }
    }
  }
}

.loading {
  // margin-top: -20px;
  margin-left: 20px;
}


@media only screen and (max-width: 46.1875em) {
  .listServiceContent {

    max-height: auto;
    overflow-y: hidden;
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    align-items: flex-start;
    //padding: 10px;
    //gap: 25px;
    position: relative;
    width: 350px;
    // padding: 0 20px;
    // height: calc(100% - 20px);

    border-radius: 5px;

    :global {
      .infinite-scroll-component__outerdiv {
        width: 100%;
      }
    }

    .service {
      box-sizing: border-box;
      // width: 100px;
      margin: 0 auto;
      max-width: 330px;
      height: 119px;
      background: linear-gradient(180deg, #ffffff 60.28%, #a8cece 100%);
      /* light blue */
      border: 1px solid #131314;
      border-radius: 10px;
      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
      display: flex;

      flex-direction: column;
      //padding: 42px;

      .breadcumService {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        justify-content: space-between;
        width: 100%;
        height: 20px;
        padding-bottom: 20px;

        .categoryService {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding-bottom: 50px;
          gap: 12px;
          color: #223263;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          /* Black blue */

          color: #223263;
          width: 537px;
          height: 17px;

          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .infoProduct {
          width: 20px;
          height: 20px;

          /* Inside auto layout */

          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }

      .lineService {
        width: 100%;
        margin-top: -15px;
        height: 0px;
        /* light blue */

        border: 1px solid #ebf0ff;
      }

      .serviceInfo {
        display: flex;
        align-items: center;
        padding: 0px;
        //gap: 10px;
        // justify-content: space-between;
        width: 100%;
        height: 30px;
        padding-top: 20px;

        .info {
          display: flex;
          align-items: center;

          .SerImg {
            margin-top: 23px;
            transform: skew(0deg) !important;
            padding-right: 92px !important;
            opacity: 0.4 !important;
          }

          .textNameService {


            min-width: 97px;
            max-width: auto;
            height: 17px;
            position: absolute;
            font-family: "Inter";
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 17px;
            margin-top: 20px;
            margin-right: 30px !important;
            /* identical to box height */

            /* Black blue */

            color: black;

            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }

        .detailInfo {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 29px;
          justify-content: flex-end;
          width: 100%;
          height: 17px;

          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          /* #000000 */

          color: rgba(0, 0, 0, 0.65);

          .lineDetailInfo {
            width: 1px;
            height: 17px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            /* light blue */

            color: #ebf0ff;

            /* Inside auto layout */

            flex: none;
            // order: 1;
            flex-grow: 0;
          }
        }
      }
    }
  }
}