.my-facebook-button-class {
    background-color: rgb(45, 45, 140);
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}