.home-header-container {
  height: 70px;
  width: 100%;
  padding: 0 40px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99999;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;

    .left-content {
      width: 20%;
      display: flex;
      align-items: center;

      .header-logo {
        background-size: 50%;
        height: 100%;
        width: 100%;
        cursor: pointer;
        transform: scale(0.6, 2);
        margin-left: -34px;
      }

      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }
    }

    .center-content {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .child-content {
        .login {
          display: flex;
          .logoLogin {
          }
          .textLogin {
            font-size: 14px;
          }
        }
        .sub-title {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .support {
        padding-right: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 15px;
          margin-right: 5px;
        }
      }

      .language-vi {
        cursor: pointer;
        opacity: 0.2;

        &.active {
          opacity: 1;

          span {
            color: orange;
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      .language-en {
        margin: 0 10px;
        opacity: 0.2;
        cursor: pointer;

        &.active {
          opacity: 1;
          color: blue;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.home-header-banner {
  background-image: url("../../assets/images/banner/bannerPRGHGYM.png");

  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;

  .content-up {
    height: 65%;
    padding-top: 15px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );

    .title1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 5px;
      color: white;
      margin-top: 30px;
    }

    .title2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin-bottom: 15px;
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 13px;
      width: 400px;
      border-radius: 30px;
      background: linear-gradient(305.38deg, #ebebea 31.53%, #f7f3f3 94.82%);

      i {
        margin: 0 5px;
      }

      input {
        background: transparent;
        border: none;
        width: 100%;
        outline: none;
        color: #fff;
      }
    }
  }

  .content-down {
    height: 35%;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );

    .options {
      text-align: center;
      display: flex;
      gap: 50px;

      .option-child {
        width: 100px;

        .icon-child {
          background: white;
          box-shadow: 0px 1px 2px #000;
          width: 48px;
          height: 48px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
        }

        i {
          color: #49bce2;
          font-size: 20px;
        }

        .text-child {
          font-size: 17px;
          font-weight: 500;
        }

        &:hover {
          color: #49bce2;
          cursor: pointer;
        }
      }
    }
  }
}
