// custom slick slider //

.slick-prev {
  // position: relative !important;
  left: -20px !important;
  z-index: 9999;
  height: 48px !important;
  width: 44px !important;

  background: #fff !important;
  border: 2px solid #d7d7d7 !important;

  &:hover {
    background-color: #d7d7d7 !important;
  }
}

.slick-next {
  // position: relative !important;
  right: -10px !important;
  z-index: 9999;
  height: 48px !important;
  width: 44px !important;


  background: #fff !important;
  border: 2px solid #d7d7d7 !important;

  &:hover {
    background-color: #d7d7d7 !important;
  }
}

.slick-disabled {
  display: none !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: red !important;
}

.section-share {
  &.section-specialty {
    background: #f5f5f5;
  }

  &.section-outstanding-doctor {
    background: #f5f5f5;
  }

  &.section-about {
    height: 500px !important;
    border-top: 1px solid #efeef5;
    border-bottom: 1px solid #efeef5;
  }

  .section-body {

    //display: flex;
    .section-customize {
      &.handbook {
        display: flex !important;
        gap: 20px;
      }

      .bgCenter {
        background-position: center center;
        background-repeat: no-repeat !important;
        background-size: cover;
        background-color: #eee;
        width: 550px;
        height: 230px;




      }

      .bg-image {
        background-position: center center;
        background-repeat: no-repeat !important;
        background-size: cover;
        background-color: #eee;
        width: 275px;
        height: 150px;

        &.section-specialty {
          background-image: url("../../assets/images/gym-place/chiNhanh2.jpg");
        }

        // &.section-medical-facility {
        //   //background-image: url('../../assets/medical-facility/benh-vien-cho-ray-h1.jpg');
        // }

        &.section-outstanding-doctor {
          //background-image: url('../../assets/outstandingDoctor/unknown.png');
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 20px;
        }

        &.section-handBook {
          background-image: url("../../assets/images/gym-place/chiNhanh1.jpg");
        }
      }
    }
  }
}

.section-share {
  height: 353px;

  .section-container {
    margin: 0 195px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin-bottom: 10px;
      margin-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        display: block;
        outline: none;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;
        margin-right: 15px;

        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
  }
}

.section-outstanding-doctor {
  .section-customize {
    padding: 5px;
    cursor: pointer;

    .customize-border {
      border: 1px solid #9b9b9b;
      padding: 20px;
    }
  }
}

.home-footer {
  text-align: center;
  padding-top: 8px;
  min-height: 250px;
  margin: 0 auto;
  background: #a50000;
  display: flex;
  gap: 15px;
  width: 100%;

  .footerLeft {
    border-right: 1px solid white;
    width: 30%;
    text-align: left;
    padding-left: 80px;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;

    .title-footer-GHGym {
      font-size: 24px;
      font-weight: 700;
      color: white;
    }
  }

  .footerCenter {
    color: white;
    width: 40%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 15px;

    .left-blog {
      width: 50%;
      font-size: 18px;
    }

    .right-blog {
      width: 50%;
      font-size: 18px;
    }
  }

  .footerRight {
    padding-top: 50px;
    border-left: 1px solid white;
    width: 30%;

    .textSocialMedia {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }

    .social-media {
      display: flex;
      gap: 15px;
      margin: 0 auto;
      align-items: center;
      width: 30%;
    }
  }
}

.section-about {
  padding: 0 153px;

  .section-about-header {
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 600;
  }

  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;

    .content-left {
      width: 60%;
    }

    .content-right {
      width: 40%;

      p {
        font-style: italic;
      }
    }
  }
}

// Responsive Moblie
@media only screen and (max-width: 46.1875em) {
  .slick-prev {
    // position: relative !important;
    left: -9px !important;
    z-index: 9999;
    height: 35px !important;
    width: 40px !important;

    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
      background-color: #d7d7d7 !important;
    }
  }

  .slick-next {
    // position: relative !important;
    margin-right: 12px;
    margin-bottom: 20px;
    right: -2px !important;
    z-index: 9999;
    height: 35px !important;
    width: 40px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
      background-color: #d7d7d7 !important;
    }
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
  }

  .section-share {
    &.section-specialty {
      height: 220px;
      background: #f5f5f5;
    }

    &.section-outstanding-doctor {
      background: #f5f5f5;
    }

    &.section-about {
      height: 500px !important;
      border-top: 1px solid #efeef5;
      border-bottom: 1px solid #efeef5;
    }

    .section-body {
      .section-customize {
        display: flex;

        &.handbook {
          display: flex !important;
        }

        .bgCenter {
          background-position: center center;
          background-repeat: no-repeat !important;
          background-size: cover;
          background-color: #eee;
          width: 180px;
          height: 120px;




        }

        .bg-image {
          //background-position: center center;
          background-repeat: no-repeat !important;
          background-size: cover;
          background-color: #eee;
          width: 175px;
          height: 130px;
          gap: 10px;
          margin: 0px 1px;

          &.section-specialty {
            background-image: url("../../assets/images/gym-place/chiNhanh2.jpg");
          }

          // &.section-medical-facility {
          //   //background-image: url('../../assets/medical-facility/benh-vien-cho-ray-h1.jpg');
          // }

          &.section-outstanding-doctor {
            //background-image: url('../../assets/outstandingDoctor/unknown.png');
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 20px;
          }

          &.section-handBook {
            background-image: url("../../assets/images/gym-place/chiNhanh1.jpg");
          }
        }
      }
    }
  }

  .section-share {
    height: 353px;
    // float: left;
    padding: auto;

    .section-container {
      margin: 0 1mm;
      display: flex;
      flex-direction: column;
      width: 100%;

      .section-header {
        height: 40px;
        margin-bottom: 1px;
        margin-top: 30px;

        .title-section {
          padding-right: 1.5px;
          font-size: 17px;
          font-weight: 648;
        }

        .btn-section {
          float: right;
          padding: 4px 22px;
          border: none;
          display: block;
          outline: none;
          background: #ebebeb;
          color: black;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 12px;

          &:hover {
            color: #fff;
            background: #f7d800;
          }
        }
      }
    }
  }

  .home-footer {

    // padding-top: 8px;
    // width: 100%;
    // height: 460px;
    // margin: 0 auto;
    // background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(240, 235, 250, 0.1));
    // display: flex;
    // gap: 5px;
    // flex-wrap: wrap;


    padding-top: 8px;
    min-height: 250px;
    width: 100%;
    margin: 0 auto;
    background: #a50000;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;

    .footerLeft {
      text-align: left;
      border-right: none;

      padding-left: 5px;
      width: 70%;
      margin-left: 10px;
      flex-direction: column;


      .title-footer-GHGym {
        font-size: 24px;
        font-weight: 700;
        color: black;


      }
    }

    .footerCenter {


      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;
      text-align: left;
      padding-left: 15px;


      .left-blog {
        width: 50%;
      }

      .right-blog {
        width: 50%;
        margin-top: -10px;
      }
    }

    .footerRight {
      border-left: none;
      width: auto;
      margin-bottom: 30px;


      .textSocialMedia {
        color: black;
        font-size: 20px;
        font-weight: 700;
        padding-left: 13px;
      }

      .social-media {
        display: flex;
        gap: 15px;
        margin-left: 15px;
        align-items: center;
        width: 300%;
      }
    }
  }
}

// .home-footer {
//   text-align: center;
//   padding-top: 8px;
//   min-height: 250px;
//   margin: 0 auto;
//   background: #a50000;
//   display: flex;
//   gap: 15px;
//   width: 100%;

//   .footerLeft {
//     border-right: 1px solid white;
//     width: 30%;
//     text-align: left;
//     padding-left: 80px;
//     align-items: center;
//     margin: 0 auto;
//     color: white;
//     font-size: 18px;

//     .title-footer-GHGym {
//       font-size: 24px;
//       font-weight: 700;
//       color: white;
//     }
//   }

//   .footerCenter {
//     color: white;
//     width: 40%;
//     align-items: center;
//     margin: 0 auto;
//     display: flex;
//     text-align: center;
//     flex-direction: row;
//     gap: 15px;

//     .left-blog {
//       width: 50%;
//       font-size: 18px;
//     }

//     .right-blog {
//       width: 50%;
//       font-size: 18px;
//     }
//   }

//   .footerRight {
//     padding-top: 50px;
//     border-left: 1px solid white;
//     width: 30%;

//     .textSocialMedia {
//       color: white;
//       font-size: 20px;
//       font-weight: 700;
//     }

//     .social-media {
//       display: flex;
//       gap: 15px;
//       margin: 0 auto;
//       align-items: center;
//       width: 30%;
//     }
//   }
// }