.ServiceProfileBg {
    overflow-x: hidden;
    height: auto;
    max-width: 100vw;



    .backToHome {
        width: 100%;
        background: #a50000;

        height: 60px;

        .backToHomeLink {
            padding-top: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            // width: fit-content;
            .textBackToHome {
                font-family: "roboto";
                font-size: 18px;
                font-weight: 400;
                margin-left: 10px;
                color: white;
            }
        }
    }




    .listItem {
        width: 100%;


        height: calc(100vh - 160px);
        // height: calc(100vh -);

    }
}