.ServiceProfileBg {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;


  // overflow: hidden;

  .containerServiceList {
    max-width: 100%;
    min-width: 100%;
    max-height: fit-content;
    margin: 0 auto;

    .backToHome {
      width: 100%;
      background: #a50000;
      padding: 20px 18px;
      height: 65px;

      .backToHomeLink {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #ffffff;
        width: fit-content;


        .textBackToHome {
          font-family: "roboto";
          font-size: 18px;
          font-weight: 400;
          margin-left: 10px;
          color: white;

        }
      }
    }

    .listItem {
      margin-top: 15px;
      overflow-x: hidden;
      // background-color: #fff;
      // min-height: 100px;
      //max-height: calc(100vh - 160px);
    }
  }
}